<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hntxrj.txerp.mapper.TankMapper">
    <update id="updatePowderTankControl">
        UPDATE pt_powder_tank_control SET command_type=#{loadMouthStatus},
        whether_to_execute=0,updownmark=0
        WHERE compid=#{compid} and tank_code=#{tankCode} and stirid=#{stirId}
    </update>
    <update id="updatePowderTankDevice">
        UPDATE pt_powder_tank_device SET load_mouth_status=#{loadMouthStatus}
        WHERE compid=#{compid} and tank_code=#{tankCode} and stirid=#{stirId}
    </update>
    <select id="powderTanDeviceList" resultType="com.hntxrj.txerp.entity.PowderTankDevice">
        SELECT * FROM pt_powder_tank_device
        WHERE compid=#{compid}
        <if test="stirId != null">
            and stirid = #{stirId}
        </if>
        <if test="beginTime != null and endTime != null">
            and create_time between #{beginTime} and #{endTime}
        </if>
    </select>

    <select id="weighChangeRecordList" resultType="com.hntxrj.txerp.entity.WeightChangeRecord">
        SELECT * FROM pt_weight_change_record
        WHERE compid=#{compid}
        <if test="stirId!=null">
            and stirid =#{stirId}
        </if>
        <if test="tankCode!=null">
            and tank_code =#{tankCode}
        </if>
        <if test="beginTime!=null and endTime!=null">
            and create_time between #{beginTime} and #{endTime}
        </if>
    </select>

    <select id="powderTankSafeStatusInforList" resultType="com.hntxrj.txerp.entity.PowderTankSafeStatusInfor">
        SELECT * FROM pt_power_tank_safe_status_infor
        WHERE compid=#{compid}
        <if test="stirId!=null">
            and stirid =#{stirId}
        </if>
        <if test="tankCode!=null">
            and tank_code =#{tankCode}
        </if>
        <if test="beginTime != null and endTime != null">
            and create_time between #{beginTime} and #{endTime}
        </if>
    </select>

    <select id="powderTankCalibrationList" resultType="com.hntxrj.txerp.entity.PowderTankCalibration">
        SELECT * FROM pt_powder_tank_calibration
        WHERE compid=#{compid}
        <if test="stirId!=null">
            and stirid =#{stirId}
        </if>
        <if test="tankCode!=null">
            and tank_code =#{tankCode}
        </if>
        <if test="beginTime != null and endTime != null">
            and create_time between #{beginTime} and #{endTime}
        </if>
    </select>

    <select id="powderTankWarnList" resultType="com.hntxrj.txerp.entity.PowderTankWarn">
        SELECT * FROM pt_powder_tank_warn
        WHERE compid=#{compid}
        <if test="stirId!=null">
            and stirid =#{stirId}
        </if>
        <if test="tankCode!=null">
            and tank_code =#{tankCode}
        </if>
        <if test="beginTime != null and endTime != null">
            and create_time between #{beginTime} and #{endTime}
        </if>
    </select>
    <select id="powderTankControlList" resultType="com.hntxrj.txerp.entity.PowderTankControl">
        SELECT * FROM pt_powder_tank_control
        WHERE compid=#{compid}
        <if test="beginTime != null and endTime != null">
            and create_time between #{beginTime} and #{endTime}
        </if>
    </select>
    <select id="getPowderTankControl" resultType="com.hntxrj.txerp.entity.PowderTankControl">
        SELECT * FROM pt_powder_tank_control
        WHERE compid=#{compid} and tank_code=#{tankCode}
        and stirid=#{stirId}
    </select>
    <select id="getMaxTankCode" resultType="java.lang.Integer">
        SELECT MAX(tank_code) FROM pt_powder_tank_device
        WHERE compid=#{compid}
    </select>

    <select id="checkPassword" resultType="com.hntxrj.txerp.entity.PowderTankDevice">
        SELECT * FROM pt_powder_tank_device
        WHERE compid=#{compid}
        and tank_code=#{tankCode}
        and stirid=#{stirId}
        and door_open_password=#{passWord}
        and recstatus=1
    </select>
    <select id="getPowderTanDevice" resultType="com.hntxrj.txerp.entity.PowderTankDevice">
        SELECT * FROM pt_powder_tank_device
        WHERE compid=#{compid}
        and stirid = #{stirId}
        and tank_code=#{tankCode}
    </select>

</mapper>