<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hntxrj.txerp.mapper.CompMapper">
    <update id="deleteComp">
        update user_comp set RecStatus = 0, UpDownMark=0
        where compid=#{compid}
    </update>

    <update id="updateComp">
        update user_comp set longname = #{compName},
         shortname=#{compShortName},
         UpDownMark=0
        where compid=#{compid}
    </update>


</mapper>