<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hntxrj.txerp.mapper.CompMapper">

    <!--删除企业-->
    <update id="deleteComp">
        update user_comp set RecStatus = 0,
        updtime=#{updTime},
         UpDownMark=0
        where compid=#{compid}
    </update>

    <!--更新企业-->
    <update id="updateComp">
        update user_comp set compid=#{compid},
         updtime=#{updTime},
         UpDownMark=0
        where  longname = #{compName} and shortname=#{compShortName}
    </update>


</mapper>