<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hntxrj.txerp.mapper.ConsumeMapper">
    <!--任务单消耗汇总-->
    <select id="getTaskConsumeList" resultType="com.hntxrj.txerp.vo.TaskConsumeVO">
        select pc.StgId,pc.TaskId, pc.StirId,bi.BuilderName,ei.EPPName,tp.Placing,sum(pc.PanNum) as qty,
        sum(pc.MatV1) as MatV1,sum(pc.MatV2) as MatV2,sum(pc.MatV3) as MatV3,
        sum(pc.MatV4) as MatV4,sum(pc.MatV5) as MatV5,sum(pc.MatV6) as MatV6,
        sum(pc.MatV7) as MatV7, sum(pc.MatV8) as MatV8,sum(pc.MatV9) as MatV9,sum(pc.MatV10) as MatV10,sum(pc.MatV11) as
        MatV11,sum(pc.MatV12) as MatV12,
        sum(pc.MatV13) as MatV13,sum(pc.MatV14) as MatV14,sum(pc.MatV15) as MatV15,sum(pc.MatV16) as
        MatV16,sum(pc.MatV17) as MatV17,sum(pc.MatV18) as MatV18,
        sum(pc.MatV19) as MatV19,sum(pc.MatV20) as MatV20,sum(pc.MatV21) as MatV21,sum(pc.MatV22) as
        MatV22,sum(pc.MatV23) as MatV23,
        sum(pc.MatL1) as MatL1,sum(pc.MatL2) as MatL2,sum(pc.MatL3) as MatL3,sum(pc.MatL4) as MatL4,sum(pc.MatL5) as
        MatL5,sum(pc.MatL6) as MatL6,sum(pc.MatL7) as MatL7,
        sum(pc.MatL8) as MatL8,sum(pc.MatL9) as MatL9,sum(pc.MatL10) as MatL10,sum(pc.MatL11) as MatL11,sum(pc.MatL12)
        as MatL12,sum(pc.MatL13) as MatL13,
        sum(pc.MatL14) as MatL14,sum(pc.MatL15) as MatL15,sum(pc.MatL16) as MatL16,sum(pc.MatL17) as
        MatL17,sum(pc.MatL18) as MatL18,sum(pc.MatL19) as MatL19,
        sum(pc.MatL20) as MatL20,sum(pc.MatL21) as MatL21,sum(pc.MatL22) as MatL22,sum(pc.MatL23) as MatL23
        from PT_ProduceConsume pc
        left join PT_TaskPlan tp on pc.TaskId = tp.TaskId and tp.compid=pc.compid
        left join SM_EPPInfo ei on pc.compid = ei.compid and ei.EPPCode=tp.EPPCode
        left join SM_BuilderInfo bi on pc.compid = bi.compid and bi.BuilderCode=tp.BuilderCode
        where pc.compid = #{compid}
        <if test="taskId != null">
            and pc.taskId like '%'+#{taskId}+'%'
        </if>
        <if test="stgId != null">
            and pc.StgId like '%'+#{stgId}+'%'
        </if>
        <if test="stirId != null">
            and pc.stirId like '%'+#{stirId}+'%'
        </if>
        <if test="vehicleId != null">
            and pc.vehicleId like '%'+#{vehicleId}+'%'
        </if>
        <if test="beginTime != null and endTime != null">
            and pc.produceTime between #{beginTime} and #{endTime}
        </if>
        group by pc.StirId, ei.EPPName,pc.TaskId,pc.StgId,BuilderName,Placing
        order by ei.EPPName desc
    </select>
    <!--每盘配料明细-->
    <select id="getFormulaDetails" resultType="com.hntxrj.txerp.vo.PlatelngredientsVO">
        select pc.StirId,pc.ProduceTime,pc.VehicleID,pc.StgId,pc.TaskId,tp.Placing,pc.PanCode,pc.PanNum as qty,
        sum(pc.MatV1)
        as MatV1,sum(pc.MatV2) as MatV2,sum(pc.MatV3) as MatV3,
        sum(pc.MatV4) as MatV4,sum(pc.MatV5) as MatV5,sum(pc.MatV6) as MatV6,
        sum(pc.MatV7) as MatV7, sum(pc.MatV8) as MatV8,sum(pc.MatV9) as MatV9,sum(pc.MatV10) as MatV10,sum(pc.MatV11) as
        MatV11,sum(pc.MatV12) as MatV12,
        sum(pc.MatV13) as MatV13,sum(pc.MatV14) as MatV14,sum(pc.MatV15) as MatV15,sum(pc.MatV16) as
        MatV16,sum(pc.MatV17) as MatV17,sum(pc.MatV18) as MatV18,
        sum(pc.MatV19) as MatV19,sum(pc.MatV20) as MatV20,sum(pc.MatV21) as MatV21,sum(pc.MatV22) as
        MatV22,sum(pc.MatV23) as MatV23,
        sum(pc.MatL1) as MatL1,sum(pc.MatL2) as MatL2,sum(pc.MatL3) as MatL3,sum(pc.MatL4) as MatL4,sum(pc.MatL5) as
        MatL5,sum(pc.MatL6) as MatL6,sum(pc.MatL7) as MatL7,
        sum(pc.MatL8) as MatL8,sum(pc.MatL9) as MatL9,sum(pc.MatL10) as MatL10,sum(pc.MatL11) as MatL11,sum(pc.MatL12)
        as MatL12,sum(pc.MatL13) as MatL13,
        sum(pc.MatL14) as MatL14,sum(pc.MatL15) as MatL15,sum(pc.MatL16) as MatL16,sum(pc.MatL17) as
        MatL17,sum(pc.MatL18) as MatL18,sum(pc.MatL19) as MatL19,
        sum(pc.MatL20) as MatL20,sum(pc.MatL21) as MatL21,sum(pc.MatL22) as MatL22,sum(pc.MatL23) as MatL23
        from dbo.PT_ProduceConsume pc
        left join PT_TaskPlan tp on pc.TaskId = tp.TaskId and tp.compid=pc.compid
        where pc.compid = #{compid}
        <if test="taskId != null">
            and pc.taskId like '%'+#{taskId}+'%'
        </if>
        <if test="stirId != null">
            and pc.stirId like '%'+#{stirId}+'%'
        </if>
        <if test="stgId != null">
            and pc.StgId like '%'+#{stgId}+'%'
        </if>
        <if test="vehicleId != null">
            and pc.vehicleId like '%'+#{vehicleId}+'%'
        </if>
        <if test="beginTime != null and endTime != null">
            and pc.produceTime between #{beginTime} and #{endTime}
        </if>
        group by
        pc.PanNum,pc.StirId,pc.ProduceTime,pc.VehicleID,pc.StgId,pc.TaskId,tp.Placing,pc.PanCode
        order by pc.ProduceTime desc
    </select>

    <!--超差盘数列表-->
    <select id="getErrorProductList" resultType="com.hntxrj.txerp.vo.PlatelngredientsVO">
        select top ${pageSize} *
        from (select row_number()
                     over(order by ProduceTime desc) as rownumber,
        pc.StirId,pc.ProduceTime,pc.VehicleID,pc.StgId,pc.TaskId,tp.Placing,pc.PanCode,pc.PanNum as qty,
        sum(pc.MatV1) as MatV1,sum(pc.MatV2) as MatV2,sum(pc.MatV3) as MatV3,
        sum(pc.MatV4) as MatV4,sum(pc.MatV5) as MatV5,sum(pc.MatV6) as MatV6,
        sum(pc.MatV7) as MatV7, sum(pc.MatV8) as MatV8,sum(pc.MatV9) as MatV9,sum(pc.MatV10) as MatV10,
        sum(pc.MatV11) as MatV11,sum(pc.MatV12) as MatV12,sum(pc.MatV13) as MatV13,sum(pc.MatV14) as MatV14,
        sum(pc.MatV15) as MatV15,sum(pc.MatV16) as MatV16,sum(pc.MatV17) as MatV17,sum(pc.MatV18) as MatV18,
        sum(pc.MatV19) as MatV19,sum(pc.MatV20) as MatV20,sum(pc.MatV21) as MatV21,sum(pc.MatV22) as MatV22,
        sum(pc.MatV23) as MatV23,sum(pc.MatL1) as MatL1,sum(pc.MatL2) as MatL2,sum(pc.MatL3) as MatL3,
        sum(pc.MatL4) as MatL4,sum(pc.MatL5) as MatL5,sum(pc.MatL6) as MatL6,sum(pc.MatL7) as MatL7,
        sum(pc.MatL8) as MatL8,sum(pc.MatL9) as MatL9,sum(pc.MatL10) as MatL10,sum(pc.MatL11) as MatL11,
        sum(pc.MatL12) as MatL12,sum(pc.MatL13) as MatL13,sum(pc.MatL14) as MatL14,sum(pc.MatL15) as MatL15,
        sum(pc.MatL16) as MatL16,sum(pc.MatL17) as MatL17,sum(pc.MatL18) as MatL18,sum(pc.MatL19) as MatL19,
        sum(pc.MatL20) as MatL20,sum(pc.MatL21) as MatL21,sum(pc.MatL22) as MatL22,sum(pc.MatL23) as MatL23
        from dbo.PT_ProduceConsume pc
        left join PT_TaskPlan tp on pc.TaskId = tp.TaskId and tp.compid=pc.compid
        where pc.compid = #{compid}
        and (
        isnull(ABS(MatV1-MatL1)/nullif(MatV1,0),0)>0.02
        or isnull(ABS(MatV2-MatL2)/nullif(MatV2,0),0)>0.02
        or isnull(ABS(MatV3-MatL3)/nullif(MatV3,0),0)>0.02
        or isnull(ABS(MatV4-MatL4)/nullif(MatV4,0),0)>0.02
        or isnull(ABS(MatV5-MatL5)/nullif(MatV5,0),0)>0.02
        or isnull(ABS(MatV6-MatL6)/nullif(MatV6,0),0)>0.01
        or isnull(ABS(MatV7-MatL7)/nullif(MatV7,0),0)>0.01
        or isnull(ABS(MatV8-MatL8)/nullif(MatV8,0),0)>0.01
        or isnull(ABS(MatV9-MatL9)/nullif(MatV9,0),0)>0.01
        or isnull(ABS(MatV10-MatL10)/nullif(MatV10,0),0)>0.01
        or isnull(ABS(MatV11-MatL11)/nullif(MatV11,0),0)>0.01
        or isnull(ABS(MatV12-MatL12)/nullif(MatV12,0),0)>0.01
        or isnull(ABS(MatV13-MatL13)/nullif(MatV13,0),0)>0.01
        or isnull(ABS(MatV14-MatL14)/nullif(MatV14,0),0)>0.01
        or isnull(ABS(MatV15-MatL15)/nullif(MatV15,0),0)>0.01
        or isnull(ABS(MatV16-MatL16)/nullif(MatV16,0),0)>0.01
        or isnull(ABS(MatV17-MatL17)/nullif(MatV17,0),0)>0.01
        or isnull(ABS(MatV18-MatL18)/nullif(MatV18,0),0)>0.01
        or isnull(ABS(MatV19-MatL19)/nullif(MatV19,0),0)>0.01
        or isnull(ABS(MatV20-MatL20)/nullif(MatV20,0),0)>0.01
        or isnull(ABS(MatV21-MatL21)/nullif(MatV21,0),0)>0.01
        or isnull(ABS(MatV22-MatL22)/nullif(MatV22,0),0)>0.01
        or isnull(ABS(MatV23-MatL23)/nullif(MatV23,0),0)>0.01
        )
        <if test="taskId != null">
            and pc.taskId like '%'+#{taskId}+'%'
        </if>
        <if test="stirId != null">
            and pc.stirId like '%'+#{stirId}+'%'
        </if>
        <if test="stgId != null">
            and pc.StgId like '%'+#{stgId}+'%'
        </if>
        <if test="vehicleId != null">
            and pc.vehicleId like '%'+#{vehicleId}+'%'
        </if>
        <if test="beginTime != null and endTime != null">
            and pc.produceTime between #{beginTime} and #{endTime}
        </if>
        group by pc.PanNum,pc.StirId,pc.ProduceTime,pc.VehicleID,pc.StgId,pc.TaskId,tp.Placing,pc.PanCode
        ) temp_row
        where rownumber>((#{page}-1)*#{pageSize});
    </select>


    <!--标号消耗汇总-->
    <select id="getConsumptionTotal" resultType="com.hntxrj.txerp.vo.ConsumeptionTotalVO">
        select pc.StirId,pt.StgId,sum(pc.PanNum) as qty,
        sum(pc.MatV1)as MatV1,sum(pc.MatV2) as MatV2,sum(pc.MatV3) as MatV3,
        sum(pc.MatV4) as MatV4,sum(pc.MatV5) as MatV5,sum(pc.MatV6) as MatV6,
        sum(pc.MatV7) as MatV7, sum(pc.MatV8) as MatV8,sum(pc.MatV9) as MatV9,sum(pc.MatV10) as MatV10,sum(pc.MatV11) as
        MatV11,sum(pc.MatV12) as MatV12,
        sum(pc.MatV13) as MatV13,sum(pc.MatV14) as MatV14,sum(pc.MatV15) as MatV15,sum(pc.MatV16) as
        MatV16,sum(pc.MatV17) as MatV17,sum(pc.MatV18) as MatV18,
        sum(pc.MatV19) as MatV19,sum(pc.MatV20) as MatV20,sum(pc.MatV21) as MatV21,sum(pc.MatV22) as
        MatV22,sum(pc.MatV23) as MatV23,
        sum(pc.MatL1) as MatL1,sum(pc.MatL2) as MatL2,sum(pc.MatL3) as MatL3,sum(pc.MatL4) as MatL4,sum(pc.MatL5) as
        MatL5,sum(pc.MatL6) as MatL6,sum(pc.MatL7) as MatL7,
        sum(pc.MatL8) as MatL8,sum(pc.MatL9) as MatL9,sum(pc.MatL10) as MatL10,sum(pc.MatL11) as MatL11,sum(pc.MatL12)
        as MatL12,sum(pc.MatL13) as MatL13,
        sum(pc.MatL14) as MatL14,sum(pc.MatL15) as MatL15,sum(pc.MatL16) as MatL16,sum(pc.MatL17) as
        MatL17,sum(pc.MatL18) as MatL18,sum(pc.MatL19) as MatL19,
        sum(pc.MatL20) as MatL20,sum(pc.MatL21) as MatL21,sum(pc.MatL22) as MatL22,sum(pc.MatL23) as MatL23
        from PT_ProduceConsume pc
        left join PT_TaskPlan pt
        on pc.compid =pt.compid and pc.TaskId =pt.TaskId
        where pc.compid = #{compid}
        and pc.RecStatus =1 and pt.RecStatus =1
        <if test="taskId != null">
            and pc.taskId like '%'+#{taskId}+'%'
        </if>
        <if test="stirId != null">
            and pc.stirId like '%'+#{stirId}+'%'
        </if>
        <if test="stgId != null">
            and pc.StgId like '%'+#{stgId}+'%'
        </if>
        <if test="vehicleId != null">
            and pc.vehicleId like '%'+#{vehicleId}+'%'
        </if>
        <if test="beginTime != null and endTime != null">
            and pc.produceTime between #{beginTime} and #{endTime}
        </if>
        group by pc.StirId,pt.StgId
        order by pc.StirId,pt.StgId
    </select>

    <!--标号消耗汇总柱状图-->
    <select id="getConsumptionHistogram" resultType="com.hntxrj.txerp.vo.ConsumptionHistogram">
        select pt.StgId as stgId,sum(pc.PanNum) as num
        from PT_ProduceConsume pc
        left join PT_TaskPlan pt
        on pc.compid =pt.compid and pc.TaskId =pt.TaskId
        where pc.compid = #{compid}
        and pc.RecStatus =1 and pt.RecStatus =1
        <if test="taskId != null">
            and pc.taskId like '%'+#{taskId}+'%'
        </if>
        <if test="stirId != null">
            and pc.stirId like '%'+#{stirId}+'%'
        </if>
        <if test="stgId != null">
            and pc.StgId like '%'+#{stgId}+'%'
        </if>
        <if test="vehicleId != null">
            and pc.vehicleId like '%'+#{vehicleId}+'%'
        </if>
        <if test="beginTime != null and endTime != null">
            and pc.produceTime between #{beginTime} and #{endTime}
        </if>
        group by pt.StgId
        order by pt.StgId
    </select>


    <!--原材料统计汇总（老版本）-->
    <select id="getMatTotal" resultType="com.hntxrj.txerp.vo.RawCollectVO">
        select pc.StirId,sum(pc.PanNum) as qty,sum(pc.MatV1)
        as MatV1,sum(pc.MatV2) as MatV2,sum(pc.MatV3) as MatV3,
        sum(pc.MatV4) as MatV4,sum(pc.MatV5) as MatV5,sum(pc.MatV6) as MatV6,
        sum(pc.MatV7) as MatV7, sum(pc.MatV8) as MatV8,sum(pc.MatV9) as MatV9,sum(pc.MatV10) as MatV10,sum(pc.MatV11) as
        MatV11,sum(pc.MatV12) as MatV12,
        sum(pc.MatV13) as MatV13,sum(pc.MatV14) as MatV14,sum(pc.MatV15) as MatV15,sum(pc.MatV16) as
        MatV16,sum(pc.MatV17) as MatV17,sum(pc.MatV18) as MatV18,
        sum(pc.MatV19) as MatV19,sum(pc.MatV20) as MatV20,sum(pc.MatV21) as MatV21,sum(pc.MatV22) as
        MatV22,sum(pc.MatV23) as MatV23,
        sum(pc.MatL1) as MatL1,sum(pc.MatL2) as MatL2,sum(pc.MatL3) as MatL3,sum(pc.MatL4) as MatL4,sum(pc.MatL5) as
        MatL5,sum(pc.MatL6) as MatL6,sum(pc.MatL7) as MatL7,
        sum(pc.MatL8) as MatL8,sum(pc.MatL9) as MatL9,sum(pc.MatL10) as MatL10,sum(pc.MatL11) as MatL11,sum(pc.MatL12)
        as MatL12,sum(pc.MatL13) as MatL13,
        sum(pc.MatL14) as MatL14,sum(pc.MatL15) as MatL15,sum(pc.MatL16) as MatL16,sum(pc.MatL17) as
        MatL17,sum(pc.MatL18) as MatL18,sum(pc.MatL19) as MatL19,
        sum(pc.MatL20) as MatL20,sum(pc.MatL21) as MatL21,sum(pc.MatL22) as MatL22,sum(pc.MatL23) as MatL23
        from PT_ProduceConsume pc
        where pc.compid = #{compid}
        <if test="taskId != null and taskId!='' ">
            and pc.taskId like '%'+#{taskId}+'%'
        </if>

        <if test="stirId != null and stirId!='' ">
            and pc.stirId like '%'+#{stirId}+'%'
        </if>

        <if test="stgId != null and stgId!=''">
            and pc.StgId like '%'+#{stgId}+'%'
        </if>

        <if test="vehicleId != null and vehicleId!=''">
            and pc.VehicleId like '%'+#{vehicleId}+'%'
        </if>
        <if test="beginTime != null and endTime != null">
            and pc.produceTime between #{beginTime} and #{endTime}
        </if>
        group by pc.StirId
        order by pc.StirId
    </select>

    <!--原材料统计汇总(新版本)-->
        <select id="getProductionConsumptionDetails" resultType="com.hntxrj.txerp.vo.RawCollectVO">
            select isnull(sum(pc.PanNum), 0) as qty,
            isnull(sum(pc.MatV1), 0)
            as MatV1,
            isnull(sum(pc.MatV2), 0)  as MatV2,
            isnull(sum(pc.MatV3), 0)  as MatV3,
            isnull(sum(pc.MatV4), 0)  as MatV4,
            isnull(sum(pc.MatV5), 0)  as MatV5,
            isnull(sum(pc.MatV6), 0)  as MatV6,
            isnull(sum(pc.MatV7), 0)  as MatV7,
            isnull(sum(pc.MatV8), 0)  as MatV8,
            isnull(sum(pc.MatV9), 0)  as MatV9,
            isnull(sum(pc.MatV10), 0) as MatV10,
            isnull(sum(pc.MatV11), 0) as
            MatV11,
            isnull(sum(pc.MatV12), 0) as MatV12,
            isnull(sum(pc.MatV13), 0) as MatV13,
            isnull(sum(pc.MatV14), 0) as MatV14,
            isnull(sum(pc.MatV15), 0) as MatV15,
            isnull(sum(pc.MatV16), 0) as
            MatV16,
            isnull(sum(pc.MatV17), 0) as MatV17,
            isnull(sum(pc.MatV18), 0) as MatV18,
            isnull(sum(pc.MatV19), 0) as MatV19,
            isnull(sum(pc.MatV20), 0) as MatV20,
            isnull(sum(pc.MatV21), 0) as MatV21,
            isnull(sum(pc.MatV22), 0) as
            MatV22,
            isnull(sum(pc.MatV23), 0) as MatV23,
            isnull(sum(pc.MatL1), 0)  as MatL1,
            isnull(sum(pc.MatL2), 0)  as MatL2,
            isnull(sum(pc.MatL3), 0)  as MatL3,
            isnull(sum(pc.MatL4), 0)  as MatL4,
            isnull(sum(pc.MatL5), 0)  as
            MatL5,
            isnull(sum(pc.MatL6), 0)  as MatL6,
            isnull(sum(pc.MatL7), 0)  as MatL7,
            isnull(sum(pc.MatL8), 0)  as MatL8,
            isnull(sum(pc.MatL9), 0)  as MatL9,
            isnull(sum(pc.MatL10), 0) as MatL10,
            isnull(sum(pc.MatL11), 0) as MatL11,
            isnull(sum(pc.MatL12), 0)
            as MatL12,
            isnull(sum(pc.MatL13), 0) as MatL13,
            isnull(sum(pc.MatL14), 0) as MatL14,
            isnull(sum(pc.MatL15), 0) as MatL15,
            isnull(sum(pc.MatL16), 0) as MatL16,
            isnull(sum(pc.MatL17), 0) as
            MatL17,
            isnull(sum(pc.MatL18), 0) as MatL18,
            isnull(sum(pc.MatL19), 0) as MatL19,
            isnull(sum(pc.MatL20), 0) as MatL20,
            isnull(sum(pc.MatL21), 0) as MatL21,
            isnull(sum(pc.MatL22), 0) as MatL22,
            isnull(sum(pc.MatL23), 0) as MatL23
            from PT_ProduceConsume pc
            where pc.compid = #{compid}
            <if test="taskId != null and taskId!='' ">
                and pc.taskId like '%'+#{taskId}+'%'
            </if>

            <if test="stirId != null and stirId!='' ">
                and pc.stirId like '%'+#{stirId}+'%'
            </if>

            <if test="stgId != null and stgId!=''">
                and pc.StgId like '%'+#{stgId}+'%'
            </if>

            <if test="vehicleId != null and vehicleId!=''">
                and pc.VehicleId like '%'+#{vehicleId}+'%'
            </if>
            <if test="beginTime != null and endTime != null">
                and pc.produceTime between #{beginTime} and #{endTime}
            </if>
        </select>


    <!--生产消耗汇总合计汇总-->
    <select id="getConsumeClose" resultType="com.hntxrj.txerp.vo.ConsumePtionCloseVO">
        select sum(pc.PanNum) as totalNum from PT_ProduceConsume pc
        left join PT_TaskPlan pt
        on pc.compid =pt.compid and pc.TaskId =pt.TaskId
        where pc.compid = #{compid}
        and pc.RecStatus =1 and pt.RecStatus =1
        <if test="taskId != null">
            and pc.taskId like '%'+#{taskId}+'%'
        </if>
        <if test="stirId != null">
            and pc.stirId like '%'+#{stirId}+'%'
        </if>
        <if test="stgId != null">
            and pc.StgId like '%'+#{stgId}+'%'
        </if>
        <if test="vehicleId != null">
            and pc.vehicleId like '%'+#{vehicleId}+'%'
        </if>
        <if test="beginTime != null and endTime != null">
            and pc.produceTime between #{beginTime} and #{endTime}
        </if>
    </select>

    <select id="getProductDetail" resultType="com.hntxrj.txerp.vo.StockVO">
        select mp.StkCode, mp.Sto_Name,mm.MatCode,mm.MatName,mm.MatParent
        from MP_Stock mp
         left join  MP_MaterialInfor mm on mp.compid =mm.compid and mp.MatCode =mm.MatCode
        where mp.compid = #{compid}
        <if test="stirId != null ">
          and mp.StirId = #{stirId}
        </if>
          and mp.RecStatus = 1
        order by mp.OderBy
    </select>


    <!--超差盘数-->
    <select id="getErrorPan" resultType="com.hntxrj.txerp.entity.ProductConsume">
        select * from PT_ProduceConsume where compid=#{compid}
        <if test="beginTime != null and endTime != null">
            and produceTime between #{beginTime} and #{endTime}
        </if>
    </select>

</mapper>