<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hntxrj.txerp.mapper.ConstructionMapper">

    <!--生成邀请码-->
    <insert id="getInvitationCode">
       insert into bd_invitation_code
        (build_invitation_code,
         compid,
         ccontract_code,
         use_status,
         create_user,
         create_time)
        VALUES (#{build_Invitation_Code},
        #{compid},
        #{ccontractCode},
        #{use_Status},
        #{opid},
        #{date})
    </insert>
    <insert id="saveInvitation" useGeneratedKeys="true">
        insert into bd_bind
        (build_id,
         compid,
         ccontract_code)
        VALUES (#{buildId},
                #{compid},
                #{ccontractCode})
    </insert>

    <update id="updateUseStatus" useGeneratedKeys="true">
        update bd_invitation_code
        set use_status=#{useStatus}
        where ccontract_code =#{ccontractCode}
        and build_invitation_code = #{buildInvitationCode}
    </update>
    <!--施工方邀请码列表-->
    <select id="getInvitationList" resultType="com.hntxrj.txerp.vo.InvitationVO">
        select bd.build_invitation_code buildinvitationcode,
        bd.compid,
        bd.build_code buildcode,
        sm.BuilderName,
        bd.create_time createtime,
        bd.create_user createuser,
        bd.use_status usestatus
        from bd_invitation_code bd
        left join SM_BuilderInfo sm on bd.compid = sm.compid and bd.build_code = sm.BuilderCode
        where bd.compid =#{compid}
        <if test="buildCode != null">
            and build_code=#{buildCode}
        </if>
        <if test="useStatus != null ">
            and use_status=#{useStatus}
        </if>
        <if test="createUser != null ">
            and create_user=#{createUser}
        </if>
        <if test="beginTime != null">
            and create_time <![CDATA[ >= ]]>  #{beginTime}
        </if>
        <if test="endTime != null">
            and create_time <![CDATA[ <= ]]> #{endTime}
        </if>
    </select>
    <select id="selectInvitation" resultType="com.hntxrj.txerp.vo.InvitationVO">
        select bd.build_invitation_code buildinvitationcode,
               bd.compid,
               bd.ccontract_code            ccontractCode,
               bd.create_time           createtime,
               bd.create_user           createuser,
               bd.use_status            usestatus
        from bd_invitation_code bd
        where bd.build_invitation_code = #{buildInvitationCode}
    </select>
    <select id="selectBind" resultType="com.hntxrj.txerp.vo.bdBindVO">
        select build_id   buildid,
           bd.compid,
           bd.ccontract_code as ccontractCode
        from bd_bind bd
        where build_id = #{buildId}
    </select>
    <select id="selectCompid" resultType="com.hntxrj.txerp.vo.bdBindVO">
        select build_id   buildid,
               compid,
               ccontract_code as ccontractCode
        from bd_bind
        where ccontract_code=#{ccontractCode}
        and build_id = #{buildId}
    </select>

</mapper>