<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hntxrj.txerp.mapper.ConstructionMapper">

    <!--生成邀请码-->
    <insert id="getInvitationCode">
       insert into bd_invitation_code
        (build_invitation_code,
         compid,
         ccontract_code,
         use_status,
         create_user,
         create_time,
         ContractUID)
        VALUES (#{buildInvitationCode},
        #{compid},
        #{contractDetailCode},
        #{useStatus},
        #{opid},
        #{date},
        #{contractUID})
    </insert>
    <insert id="saveInvitation" useGeneratedKeys="true">
        insert into bd_bind
        (build_id,
         compid,
         contractUID,
         ccontract_code)
        VALUES (#{buildId},
                #{compid},
                 #{contractUID},
                #{contractDetailCode})
    </insert>

    <update id="updateUseStatus" useGeneratedKeys="true">
        update bd_invitation_code
        set use_status=#{useStatus}
        where  build_invitation_code = #{buildInvitationCode}
        and ccontract_code =#{contractDetailCode}
       and contractUID=#{contractUID}
    </update>
    <!--删除合同-->
    <delete id="deleteBuildId">
        delete from bd_bind where build_id =#{buildId} and ccontract_code =#{ccontractCode} and compid =#{compid}
    </delete>
    <!--施工方邀请码列表-->
    <select id="getInvitationList" resultType="com.hntxrj.txerp.vo.InvitationVO">
        select bd.build_invitation_code buildinvitationcode,
        bd.compid,
        sm.BuilderShortName as        builderName,
        se.EPPName as eppName,
        se.ShortName as shortName,
        bd.create_time           createtime,
        bd.create_user           createuser,
        bd.use_status            usestatus,
        bd.ccontract_code as contractDetailCode,
        bd.contractUID
        from bd_invitation_code bd
        left join SM_ContractDetail sc on bd.ccontract_code = sc.CContractCode and bd.contractUID = sc.ContractUID
        left join SM_BuilderInfo sm on bd.compid = sm.compid and sc.BuilderCode = sm.BuilderCode
        left join SM_EPPInfo se on bd.compid = se.compid and sc.EPPCode = se.EPPCode
        where bd.compid=#{compid}
        <if test="buildCode != null">
            and sc.BuilderCode=#{buildCode}
        </if>
        <if test="useStatus != null ">
            and use_status=#{useStatus}
        </if>
        <if test="createUser != null ">
            and create_user=#{createUser}
        </if>
        <if test="beginTime != null">
            and create_time <![CDATA[ >= ]]>  #{beginTime}
        </if>
        <if test="endTime != null">
            and create_time <![CDATA[ <= ]]> #{endTime}
        </if>
    </select>
    <select id="selectInvitation" resultType="com.hntxrj.txerp.vo.InvitationVO">
        select bd.build_invitation_code buildinvitationcode,
               bd.compid,
               bd.ccontract_code            contractDetailCode,
               bd.create_time           createtime,
               bd.create_user           createuser,
               bd.use_status            usestatus,
               bd.contractUID
        from bd_invitation_code bd
        where bd.build_invitation_code = #{buildInvitationCode}
    </select>
    <select id="checkBind" resultType="com.hntxrj.txerp.vo.BdBindVO">
        select build_id   buildId,
           bd.compid,
           bd.ccontract_code as contractDetailCode,
           bd.contractUID
        from bd_bind bd
        where build_id = #{buildId}
    </select>
    <select id="checkBindContract" resultType="com.hntxrj.txerp.vo.BdBindVO">
        select build_id   buildId,
               compid,
               ccontract_code as contractDetailCode,
               contractUID
        from bd_bind
        where ccontract_code=#{contractDetailCode}
        and contractUID=#{contractUID}
        and build_id = #{buildId}
    </select>
    <select id="getContractCodeList" resultType="java.lang.String">
        select ccontract_code
        from bd_bind
        where build_id=#{buildId}
    </select>

    <select id="getContractUID" resultType="java.lang.String">
        select contractUID
        from bd_bind
        where build_id=#{buildId}
    </select>

</mapper>