<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hntxrj.txerp.mapper.PartsMapper">

    <select id="getPartsList" resultType="com.hntxrj.txerp.vo.PartsVO">
        select w.RequestNumber,
        d1.PI_TypeName RequestMode,
        d2.PI_TypeName RequestStatus,
        u.name,
        w.Buyer,
        w.VerifyIdOne,
        w.VerifyStatusOne,
        w.VerifyTimeOne,
        w.AuditResultOne,
        w.VerifyIdTwo,
        w.VerifyStatusTwo,
        w.VerifyTimetwo,
        w.AuditResultTwo,
        w.VerifyIdThree,
        w.VerifyStatusThree,
        w.VerifyTimeThree,
        w.AuditResultThree,
        w.VerifyIdFour,
        w.VerifyStatusFour,
        w.VerifyTimeFour,
        w.AuditResultFour,
        w.VerifyIdFive,
        w.VerifyStatusFive,
        w.VerifyTimeFive,
        w.AuditResultFive,
        w.VerifyIdSix,
        w.VerifyStatusSix,
        w.VerifyTimeSix,
        w.AuditResultSix,
        w.RequestDep,
        w.GoodsName,
        w.Specification,
        w.Num,
        w.Remarks,
        w.CreateTime,
        w.Amount
        from WM_ConFigureApply w
        left join DD_PublicInfo d1 on d1.PI_Class = '76' and w.RequestMode = d1.PI_Values
        and w.compid =d1.compid
        left join DD_PublicInfo d2 on d2.PI_Class = '75' and w.RequestStatus = d2.PI_Values
        and w.compid =d2.compid
        left join User_dept u on w.compid =u.compid and w.Department =u.deptid
        where w.compid =#{compid}
        <if test="beginTime != null and beginTime != ''">
            and w.CreateTime <![CDATA[ >= ]]>  #{beginTime}
        </if>
        <if test="endTime != null and endTime != '' ">
            and w.CreateTime  <![CDATA[ <= ]]> #{endTime}
        </if>
        <if test="goodsName != null and goodsName != '' ">
            and w.goodsName like '%'+#{goodsName}+'%'
        </if>
        <if test="buyer != null and buyer != '' ">
            and w.buyer = #{buyer}
        </if>
        <if test="specification != null and specification != '' ">
            and w.specification like '%'+#{specification}+'%'
        </if>
        <if test="department != null and department != '' ">
            and w.department = #{department}
        </if>
        <if test="verifyStatusOne != null and verifyStatusOne != '' ">
            and w.verifyStatusOne = #{verifyStatusOne}
        </if>
        <if test="requestNumber != null and requestNumber != '' ">
            and w.requestNumber like '%'+#{requestNumber}+'%'
        </if>
        <if test="requestStatus != null and requestStatus != '' ">
            and w.requestStatus = #{requestStatus}
        </if>
        <if test="requestDep != null and requestDep != '' ">
            and w.requestDep like '%'+#{requestDep}+'%'
        </if>

    </select>

    <!--申请人列表-->
    <select id="getBuyerList" resultType="com.hntxrj.txerp.vo.UserVO">
        select OpId, empname
        from User_employee
        where compid = #{compid}
        and useing = 'true'
        <if test="searchName != null and searchName != '' ">
            and empname like '%'+#{searchName}+'%'
        </if>

    </select>

    <!--部门列表-->
    <select id="getDepartmentList" resultType="com.hntxrj.txerp.vo.DepartmentVO">
        select deptid, name
        from User_dept
        where compid = #{compid}
          and RecStatus = 'true'
    </select>

    <!--申请单状态-->
    <select id="getRequestStatusList" resultType="com.hntxrj.txerp.vo.RequestStatusListVO">
        select PI_TypeName requestStatusName, PI_Values requestStatusCode
        from DD_PublicInfo
        where PI_Class = '75'
          and RecStatus = 1
            and compid =#{compid}
        order by PI_Values
    </select>
    <!--查询ｉｄ-->
    <select id="selectid" resultType="com.hntxrj.txerp.vo.PartsVO">
        select RequestNumber
        from WM_ConFigureApply
        where compid = #{compid}
          and RequestNumber like '%' + #{requestNumber} + '%'
    </select>
    <!--申请模式-->
    <select id="getRequestMode" resultType="com.hntxrj.txerp.vo.RequestModeVO">
        select PI_TypeName requestModeName, PI_Values requestModeCode
        from DD_PublicInfo
        where PI_Class = '76'
          and RecStatus = 'true'
          and compid =#{compid}
        order by PI_Values
    </select>
    <select id="getMnemonicCodeList" resultType="com.hntxrj.txerp.vo.AccessCatalogVO">
        select MnemonicCode,
               GoodsName,
               Specification
        from WM_AccessCatalog
        where Compid = #{compid}
    </select>

    <!--详情-->
    <select id="getRequestNumberDetail" resultType="com.hntxrj.txerp.vo.PartsVO">
        select w.RequestNumber,
               d1.PI_TypeName RequestMode,
               w.RequestMode requestCode,
               d2.PI_TypeName requestStatus,
               w.RequestStatus requestStatusCode,
               w.Department,
               u.name,
               w.Buyer,
               w.VerifyIdOne,
               w.VerifyStatusOne,
               w.VerifyTimeOne,
               w.AuditResultOne,
               w.VerifyIdTwo,
               w.VerifyStatusTwo,
               w.VerifyTimetwo,
               w.AuditResultTwo,
               w.VerifyIdThree,
               w.VerifyStatusThree,
               w.VerifyTimeThree,
               w.AuditResultThree,
               w.VerifyIdFour,
               w.VerifyStatusFour,
               w.VerifyTimeFour,
               w.AuditResultFour,
               w.VerifyIdFive,
               w.VerifyStatusFive,
               w.VerifyTimeFive,
               w.AuditResultFive,
               w.VerifyIdSix,
               w.VerifyStatusSix,
               w.VerifyTimeSix,
               w.AuditResultSix,
               w.RequestDep,
               w.GoodsName,
               w.Specification,
               w.CreateTime,
               w.Amount,
               w.Num,
               w.Remarks,
               w.CreateTime
        from WM_ConFigureApply w
                 left join DD_PublicInfo d1 on d1.PI_Class = '76' and w.RequestMode = d1.PI_Values and w.compid =d1.compid
                 left join DD_PublicInfo d2 on d2.PI_Class = '75' and w.RequestStatus = d2.PI_Values and w.compid =d2.compid
                 left join User_dept u on w.compid =u.compid and w.Department =u.deptid
        where  w.RequestNumber =#{requestNumber}
        and  w.compid =#{compid}
    </select>

    <update id="editRequestStatus">
        UPDATE WM_ConFigureApply
        set
        <if test="requestStatus != null and requestStatus != ''">
            RequestStatus = #{requestStatus}
        </if>
        <if test="verifyIdOne != null and verifyIdOne != ''">
            , VerifyIdOne = #{verifyIdOne}
        </if>
        , VerifyStatusOne = #{verifyStatusOne}

        <if test="verifyTimeOne != null and verifyTimeOne != ''">
            , VerifyTimeOne = #{verifyTimeOne}
        </if>
        <if test="auditResultOne != null and auditResultOne != ''">
            , AuditResultOne = #{auditResultOne}
        </if>


        where compid = #{compid}
        and RequestNumber = #{requestNumber}
    </update>

    <update id="cancelRequestStatus">
        UPDATE WM_ConFigureApply
        set
            RequestStatus  = #{requestStatus}
            , VerifyIdOne  = #{verifyIdOne}
            , VerifyStatusOne  = #{verifyStatusOne}
            , VerifyTimeOne  = #{verifyTimeOne}
            , AuditResultOne  = #{auditResultOne}
        where compid = #{compid}
        and RequestNumber = #{requestNumber}
    </update>

</mapper>
