<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hntxrj.txerp.mapper.ProductionPlanMapper">

    <!--生产计划统计查询-->
    <select id="getProductionStatistics" resultType="com.hntxrj.txerp.vo.ProductionPlanStaticesVO">
        select PT.TaskId,
        PT.StgId,
        PT.Placing,
        PT.PreNum,
        PT.PreRemark,
        PT.Slump,
        PT.TechnicalRequirements,
        PT.PreTime,
        PT.StoneDia,
        PT.TotalNum,
        PT.PreCarNum,
        SM.BuilderName,
        EPP.EPPName,
        SM.LinkTel,
        DD.PI_TypeName AS PlaceStyleName,
        DD.ID
        from PT_TaskPlan AS PT
        left join SM_BuilderInfo AS SM on PT.compid = SM.compid AND PT.BuilderCode = SM.BuilderCode
        LEFT join DD_PublicInfo AS DD on PT.PlaceStyle = DD.PI_Values AND DD.PI_Class = 24
            and PT.compid =DD.compid
        LEFT join SM_EPPInfo AS EPP on PT.compid = EPP.compid AND PT.EPPCode = EPP.EPPCode
        where PT.compid =#{compid}
        and DeleteMark = '0'
        <if test="beginTime != null and endTime != null">
            and PT.PreTime between #{beginTime} and #{endTime}
        </if>
        <if test="taskStatus != null">
            and taskstatus = #{taskStatus}
        </if>
        <if test="stgId != null">
            and PT.stgId like  '%'+#{stgId}+'%'
        </if>
          <if test="eppCode != null">
            and PT.EPPCode  = #{eppCode}
        </if>
        <if test="builderCode != null">
            and PT.builderCode  = #{builderCode}
        </if>
        <if test="placeStyle != null">
            and PT.placeStyle  = #{placeStyle}
        </if>
        ORDER BY PT.PreTime,taskid
    </select>
    <select id="getProductionStatisticstotalPreNum" resultType="com.hntxrj.txerp.vo.ProductionPlanStaticesVO">
        select sum(PT.PreNum) as totalPreNum
        from PT_TaskPlan AS PT
        left join SM_BuilderInfo AS SM on PT.compid = SM.compid AND PT.BuilderCode = SM.BuilderCode
        LEFT join DD_PublicInfo AS DD on PT.PlaceStyle = DD.PI_Values AND DD.PI_Class = 24
            and PT.compid =DD.compid
        LEFT join SM_EPPInfo AS EPP on PT.compid = EPP.compid AND PT.EPPCode = EPP.EPPCode
        where PT.compid =#{compid}
        and DeleteMark = '0'
        <if test="beginTime != null and endTime != null">
            and PT.PreTime between #{beginTime} and #{endTime}
        </if>
        <if test="taskStatus != null">
            and taskstatus = #{taskStatus}
        </if>
        <if test="stgId != null">
            and PT.stgId  like  '%'+#{stgId}+'%'
        </if>
        <if test="eppCode != null">
            and PT.EPPCode  = #{eppCode}
        </if>
        <if test="builderCode != null">
            and PT.builderCode  = #{builderCode}
        </if>
        <if test="placeStyle != null">
            and PT.placeStyle  = #{placeStyle}
        </if>
    </select>

</mapper>