<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hntxrj.txerp.mapper.PublicInfoMapper">
    <select id="getDropDown" resultType="com.hntxrj.txerp.vo.DropDownVO">
        select PI_Values   code,
               PI_TypeName name
        from DD_PublicInfo
        where PI_Class = #{classId}
        and compid =#{compid}
    </select>
</mapper>