<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hntxrj.txerp.mapper.QueryTimeSetMapper">
    <insert id="inset"  useGeneratedKeys="true">
        insert into systime_querytimeset
        (compid,
        query_name,
        query_time,
        query_start_time,
        query_stop_time,
        recstatus,
        updownmark,
        updown) VALUES (
        #{compid},#{queryName},#{queryTime},#{queryStartTime},#{queryStopTime},#{recstatus},#{updownmark},#{updown}
        )
    </insert>
    <delete id="deelte">
        delete from systime_querytimeset where compid=#{compid} and query_name =#{queryName}
    </delete>

    <select id="getQueryTimeSetList" resultType="com.hntxrj.txerp.vo.QueryTimeSetVO">
        select * from systime_querytimeset where compid =#{compid} and recstatus =0
    </select>
</mapper>
