<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hntxrj.txerp.mapper.SalesmanMapper">

    <select id="getSalesmanDropDown" resultType="com.hntxrj.txerp.vo.SalesmanDropDownVO">
        select SalesmanCode salesCode, ScaleName salesManName
        from SM_BusinessGroup
        where compid = #{compid} and RecStatus = 1 and DepartMent!='0'
        <if test=" salesName !=null and salesName!='' ">
            and ScaleName like '%' + #{salesName} +'%'
        </if>
    </select>

    <select id="getSaleGroup" resultType="com.hntxrj.txerp.vo.SalesmanDropDownVO">
        select SalesmanCode salesCode, ScaleName salesManName
        from SM_BusinessGroup
        where compid = #{compid}
          and DepartMent = '0'
          and RecStatus = 1
    </select>

    <select id="selectSaleCodes" resultType="java.lang.String">
        select SalesmanCode
        from SM_BusinessGroup
        where compid = #{compid}
          and len(SalesmanCode) = 10
    </select>

    <select id="addSaleMan">
        insert into SM_BusinessGroup(compid, ScaleName, SalesmanCode, DepartMent, UpDownMark, RecStatus)
        values (#{compid}, #{saleName}, #{saleManCode}, #{department}, 0, 1)
    </select>
    <select id="getSaleMan" resultType="java.util.Map">
        select * from SM_BusinessGroup where compid = #{compid} and SalesmanCode=#{saleManCode}
    </select>
</mapper>