<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hntxrj.txerp.mapper.StockMapper">
    <select id="getStockAll" resultType="java.util.Map">
        select MatCode,
               MatName,
               MatParent
        from MP_MaterialInfor
        where compid = #{compid}
          and RecStatus = 1
    </select>

    <select id="getStockByStirId" resultType="com.hntxrj.txerp.vo.StockVO">
        select ms.ID as id,
        ms.StkCode as stkCode,
        ms.Sto_Name as stoName,
        mm.MatParent as matParent,
        ms.Sto_Maxqty as stoMaxQty,
        ms.Sto_Minqty as stoMinQty,
        ms.Sto_Curqty as stoCurQty,
        ms.MeasureUnit as measureUnit,
        ms.StirId as stirId,
        ms.compid as compid,
        ms.OderBy as oderBy,
        ms.MatCode as matCode,
        mm.MatName as matName,
        ms.Sto_Weight as stoWeight
        from MP_Stock ms
        left join MP_MaterialInfor mm on ms.compid=mm.compid
        and ms.MatCode=mm.MatCode
        where ms.RecStatus = 1
        <if test="stockAggregateIsShow == 1">
            and mm.MatParent != 'S' and mm.MatParent != 'G'
        </if>
        and ms.compid = #{compid}
        and ms.stirId = #{stirId}
        and ms.IsVisible=1
        order by ms.OderBy
    </select>

    <select id="getPublicStockByStirId" resultType="com.hntxrj.txerp.vo.PublicStockVO">
        select *
        from De_StockCompare
        where compid = #{compid}
          and StirId = #{stirId}
    </select>


    <select id="getStirIds" resultType="com.hntxrj.txerp.vo.StirIdVO">
        select *
        from DD_StirInfoSet
        where compid = #{compid}
        order by StirId
    </select>

    <select id="getStockList" resultType="com.hntxrj.txerp.vo.StockVO">
        select Sto_Name as stoName
        from MP_Stock where compid=#{compid}
        <if test="stoName!=null and stoName!=''">
            and Sto_Name like '%'+#{stoName}+'%'
        </if>
        group by Sto_Name
    </select>


    <!--更新检查结果
    * @param compid 公司id
     * @param stICode 过磅单号
     * @param isPassOrNot 是否合格
     * @param picturePath 图片路径
     * @param matCode 材料编码
     * @param stkCode 库位编码
     *
    -->
    <update id="updateCheckStatus">
        update MP_StockIn set
        <if test="isPassOrNot != null">
            isPassOrNot=#{isPassOrNot},
        </if>
        <if test="picturePath != null">
            PicturePath=#{picturePath},
        </if>
        <if test="matCode != null">
            MatCode=#{matCode},
        </if>
        <if test="notReason!= null">
            NotReason=#{notReason},
        </if>
        <if test="stkCode!=null">
            StkCode=#{stkCode},
        </if>
        <if test="deductNum!=null">
            DeductNum=#{deductNum},
        </if>
        <if test="inspector!=null">
            Inspector=#{inspector},
        </if>
        <if test="inspectionTime!=null">
            InspectionTime=#{inspectionTime},
        </if>
        UpDownMark=0,
        IsAllowOut=#{isAllowOut}
        where compid = #{compid} and StICode=#{stICode}
    </update>

    <select id="getMatByComId" resultType="com.hntxrj.txerp.vo.MaterialVO">
        select
        MatCode,MatName,MatParent
        from MP_MaterialInfor
        where compid=#{compid}
        <if test="searchWords!=null and searchWords!=''">
            and Sto_Name like '%'+#{searchWords}+'%'
        </if>
        order by MatName

    </select>
    <select id="getStockByComId" resultType="com.hntxrj.txerp.vo.StockVO">
        select
        ms.StkCode,ms.Sto_Name,StirId as stirId,ms.Sto_Curqty as stoCurqty
        from MP_Stock ms
        where ms.compid=#{compid}
        <if test="searchWords!=null and searchWords!=''">
            and ms.Sto_Name like '%'+#{searchWords}+'%'
        </if>
        order by StirId
    </select>
    <select id="getStockCheck" resultType="com.hntxrj.txerp.vo.StockInCheckVO">
       select convert(varchar(10),t2.StirId)  + '->'+t2.Sto_Name +'['+convert(varchar(32),t2.Sto_Curqty) +']'  as stoName ,
           t1.stICode,
           t1.isPassOrNot,
           t1.PicturePath,
           t1.MatCode,
           t3.matName,
           t1.StkCode,
           t1.NotReason,
           t1.StkCode,
           t1.DeductNum      as deductNum,
           t1.Inspector      as inspector,
           t1.InspectionTime as inspectionTime,
           t1.VehicleID      as vehicleId,
           t1.compid,
           t4.Sup_Name as supName,
           t1.IsAllowOut as isAllowOut
        from MP_StockIn t1
        left join MP_Stock t2 on t1.StkCode = t2.StkCode and t2.compid = t1.compid
        left join MP_MaterialInfor t3 on t1.MatCode = t3.MatCode and t3.compid = t1.compid
        left join MP_Supplier t4 on t1.compid = t4.compid and t1.SupCode = t4.SupCode
        where t1.compid=#{compid} and t1.stICode=#{stICode}
    </select>


    <select id="getAllStockList" resultType="com.hntxrj.txerp.vo.StockSelectVO">
        select StkCode, Sto_Name, StirId
        from MP_Stock
        where compid = #{compid} and StirId = #{stirId}
    </select>

    <select id="getStockIn" resultType="java.util.HashMap">
       select * from MP_StockIn
       where compid=#{compid} and StICode=#{stICode}
    </select>


</mapper>