<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hntxrj.txerp.mapper.StockMapper">
    <select id="getStockAll" resultType="java.util.Map">
        select MatCode,
               MatName,
               MatParent
        from MP_MaterialInfor
        where compid = #{compid}
          and RecStatus = 1
    </select>

    <select id="getStockByStirId" resultType="com.hntxrj.txerp.vo.StockVO">
        select MP_Stock.*,MP_MaterialInfor.MatParent
        from MP_Stock  left join MP_MaterialInfor
        on MP_Stock.compid=MP_MaterialInfor.compid and MP_Stock.MatCode=MP_MaterialInfor.MatCode
        where MP_Stock.RecStatus = 1
          and MP_Stock.compid = #{compid}
          and MP_Stock.stirId = #{stirId}
    </select>

    <select id="getPublicStockByStirId" resultType="com.hntxrj.txerp.vo.StockVO">
        select MP_Stock.*,MP_MaterialInfor.MatParent
        from MP_Stock left join MP_MaterialInfor on
            MP_Stock.compid=MP_MaterialInfor.compid and
            MP_Stock.MatCode=MP_MaterialInfor.MatCode
        where MP_Stock.RecStatus = 1
          and MP_Stock.compid = #{compid}
          and MP_Stock.stirId = #{stirId}
          and OderBy in (select ERPStockCode from De_StockCompare where stirid = #{stirId}
                                                                    and compid = #{compid})
    </select>


    <select id="getStirIds" resultType="com.hntxrj.txerp.vo.StirIdVO">
        select *
        from DD_StirInfoSet
        where compid = #{compid}
        order by StirId
    </select>

    <select id="getStockList" resultType="com.hntxrj.txerp.vo.StockVO">
        select Sto_Name as stoName
        from MP_Stock where compid=#{compid}
        <if test="stoName!=null and stoName!=''">
           and Sto_Name like '%'+#{stoName}+'%'
        </if>
        group by Sto_Name
    </select>


    <!--更新检查结果
    * @param compid 公司id
     * @param stICode 过磅单号
     * @param isPassOrNot 是否合格
     * @param picturePath 图片路径
     * @param matCode 材料编码
     * @param stkCode 库位编码
     *
    -->
    <update id="updateCheckStatus">
        update MP_StockIn set
         isPassOrNot=#{isPassOrNot},
         PicturePath=#{picturePath},
         MatCode=#{matCode},
         StkCode=#{stkCode},
         NotReason=#{notReason},
         UpDownMark=0
        where  compid = #{compid} and StICode=#{stICode}
    </update>

    <select id="getMatByComId" resultType="com.hntxrj.txerp.vo.MaterialVO">
        select
        MatCode,MatName,MatParent
        from MP_MaterialInfor
        where compid=#{compid}
        order by MatName

    </select>
    <select id="getStockByComId" resultType="com.hntxrj.txerp.vo.StockVO">
        select
        StkCode,Sto_Name
        from MP_Stock
        where compid=#{compid}
        order by Sto_Name
    </select>
    <select id="getStockCheck" resultType="com.hntxrj.txerp.vo.StockInCheckVO">
        select
    t1.stICode,
    t1.isPassOrNot,
    t1.PicturePath,
    t1.MatCode,
    t3.matName,
    t1.StkCode,
    t1.NotReason,
    t1.StkCode,
    t2.Sto_Name
       from  MP_StockIn t1
left join  MP_Stock t2 on t1.StkCode=t2.StkCode and t2.compid=#{compid}
left join  MP_MaterialInfor t3 on t1.MatCode=t3.MatCode and t3.compid=#{compid}
where t1.compid=#{compid} and t1.stICode=#{stICode}

    </select>

</mapper>