<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hntxrj.txerp.mapper.StockMapper">

    <!--原材料过磅统计。材料名称-->
    <select id="getWeightByMat" resultType="com.hntxrj.txerp.vo.WeightMatNameVO">
        select sum(si.ClWeight) AS tlWeight, COUNT(*) AS VCount,sum(si.NetWeight) as Proportion,mp.MatName
        from MP_StockIn si
        left join MP_Supplier sl on si.SupCode = sl.SupCode and si.compid = sl.compid
        left join MP_Stock mk on mk.StkCode = si.StkCode and mk.compid = si.compid
        left join (select MatName + '(' +MatSpecs+ ')' AS matName,compid,MatCode,empName from MP_MaterialInfor )
        mp on si.compid =mp.compid and si.MatCode =mp.MatCode
        where si.compid = #{compid} and si.RecStatus=1
        <if test="empName != null">
            and mp.empName like '%'+#{empName}+'%'
        </if>
        <if test="vehicleId != null">
            and vehicleId like '%'+#{vehicleId}+'%'
        </if>
        <if test="supName != null">
            and Sup_Name like '%'+#{supName}+'%'
        </if>
        <if test="stoName != null">
            and Sto_Name like '%'+#{stoName}+'%'
        </if>
        <if test="beginTime != null and endTime != null">
            and si.SecondTime between #{beginTime} and #{endTime}
        </if>
        group by mp.MatName
        order by mp.MatName
    </select>

    <!--原材料过磅统计。车辆代号-->
    <select id="getWeightByVechicId" resultType="com.hntxrj.txerp.vo.WeightVechicIdVO">
        select sum(si.ClWeight) AS tlWeight, COUNT(*) AS VCount,sum(si.NetWeight) as
        Proportion,si.VehicleID
        from MP_StockIn si left join MP_Supplier sl on si.SupCode = sl.SupCode and si.compid = sl.compid
        left join MP_Stock mk on mk.StkCode = si.StkCode and mk.compid = si.compid
        where si.compid = #{compid} and si.RecStatus=1
        <if test="empName != null">
            and sl.empName like '%'+#{empName}+'%'
        </if>
        <if test="vehicleId != null">
            and vehicleId like '%'+#{vehicleId}+'%'
        </if>
        <if test="supName != null">
            and Sup_Name like '%'+#{supName}+'%'
        </if>
        <if test="stoName != null">
            and Sto_Name like '%'+#{stoName}+'%'
        </if>
        <if test="beginTime != null and endTime != null">
            and si.SecondTime between #{beginTime} and #{endTime}
        </if>
        group by si.VehicleID
        ORDER BY si.VehicleID
    </select>
    <!--原材料过磅统计。供应商名-->
    <select id="getWeightByStoName" resultType="com.hntxrj.txerp.vo.WeightSupNameVO">
        select sum(si.ClWeight) AS tlWeight, COUNT(*) AS VCount,sum(si.NetWeight) as
        Proportion,sl.Sup_Name
        from MP_StockIn si
        left join MP_Supplier sl on si.SupCode = sl.SupCode and si.compid = sl.compid
        left join MP_Stock mk on mk.StkCode = si.StkCode and mk.compid = si.compid
        left join (select MatName + '(' +MatSpecs+ ')' AS matName,compid,MatCode,empName from MP_MaterialInfor )
        mt on si.compid =mt.compid and si.MatCode =mt.MatCode
        where si.compid = #{compid} and si.RecStatus=1
        <if test="empName != null">
            and mt.empName like '%'+#{empName}+'%'
        </if>
        <if test="vehicleId != null">
            and vehicleId like '%'+#{vehicleId}+'%'
        </if>
        <if test="supName != null">
            and Sup_Name like '%'+#{supName}+'%'
        </if>
        <if test="stoName != null">
            and Sto_Name like '%'+#{stoName}+'%'
        </if>

        <if test="beginTime != null and endTime != null">
            and si.SecondTime between #{beginTime} and #{endTime}
        </if>
        group by sl.Sup_Name
        ORDER BY tlWeight desc
    </select>
    <!--原材料过磅统计。入库库位-->
    <select id="getWeightBySupName" resultType="com.hntxrj.txerp.vo.WeightStorageVO">
        select sum(si.ClWeight) AS tlWeight, COUNT(*) AS VCount,sum(si.NetWeight) as
        Proportion,mk.Sto_Name
        from MP_StockIn si
        left join MP_Stock mk on mk.StkCode = si.StkCode and mk.compid = si.compid
        left join MP_Supplier sl on si.SupCode = sl.SupCode and si.compid = sl.compid
        where si.compid = #{compid} and si.RecStatus=1
        <if test="empName != null">
            and sl.empName like '%'+#{empName}+'%'
        </if>
        <if test="vehicleId != null">
            and vehicleId like '%'+#{vehicleId}+'%'
        </if>
        <if test="supName != null">
            and Sup_Name like '%'+#{supName}+'%'
        </if>
        <if test="stoName != null">
            and Sto_Name like '%'+#{stoName}+'%'
        </if>
        <if test="beginTime != null and endTime != null">
            and si.SecondTime between #{beginTime} and #{endTime}
        </if>
        group by mk.Sto_Name
        ORDER BY mk.Sto_Name
    </select>
    <!--原材料过磅统计。过磅员-->
    <select id="getWeightByEmpName" resultType="com.hntxrj.txerp.vo.WeightEmpNameVO">
        select sum(si.ClWeight) AS tlWeight, COUNT(*) AS VCount,sum(NetWeight) as Proportion,us.empName
        from MP_StockIn si
        left join User_employee us on si.compid =us.compid and si.OPER2 =us.OpId
        left join MP_Stock mk on mk.StkCode = si.StkCode and mk.compid = si.compid
        left join MP_Supplier sl on si.SupCode = sl.SupCode and si.compid = sl.compid
        where si.compid = #{compid} and si.RecStatus=1
        <if test="empName != null">
            and us.empName like '%'+#{empName}+'%'
        </if>
        <if test="vehicleId != null">
            and vehicleId like '%'+#{vehicleId}+'%'
        </if>
        <if test="supName != null">
            and Sup_Name like '%'+#{supName}+'%'
        </if>
        <if test="stoName != null">
            and Sto_Name like '%'+#{stoName}+'%'
        </if>
        <if test="beginTime != null and endTime != null">
            and si.SecondTime between #{beginTime} and #{endTime}
        </if>
        group by us.empName
        ORDER BY us.empName
    </select>
    <!--原材料过磅统计。综合信息-->
    <select id="getSynthesizeByMat" resultType="com.hntxrj.txerp.vo.WeightSynthesizeVO">
        SELECT convert ( varchar (10), SecondTime, 120) SecondTime,
        Sup_Name,
        mp.matName,
        SUM(si.ClWeight)AS tlWeight,
        COUNT(*) AS vCount
        from MP_StockIn si
        left join MP_Stock mk on mk.StkCode = si.StkCode and mk.compid = si.compid
        left join MP_Supplier sl on si.SupCode = sl.SupCode and si.compid = sl.compid
        left join (select MatName + '(' + MatSpecs+ ')' AS matName,compid,MatCode,empName from MP_MaterialInfor )
        mp on si.compid =mp.compid and si.MatCode =mp.MatCode
        where si.compid = #{compid} and si.RecStatus=1
        <if test="empName != null">
            and mp.empName like '%'+#{empName}+'%'
        </if>
        <if test="vehicleId != null">
            and vehicleId like '%'+#{vehicleId}+'%'
        </if>
        <if test="supName != null">
            and Sup_Name like '%'+#{supName}+'%'
        </if>
        <if test="stoName != null">
            and Sto_Name like '%'+#{stoName}+'%'
        </if>
        <if test="beginTime != null and endTime != null">
            and si.SecondTime between #{beginTime} and #{endTime}
        </if>
        GROUP BY convert ( varchar (10), SecondTime, 120),Sup_Name,mp.matName
        ORDER BY convert( varchar(10),SecondTime,120)
    </select>


    <!--原材料过磅统计合计入库量-->
    <select id="getWeightClose" resultType="com.hntxrj.txerp.vo.WeightCloseVO">
        select sum(si.ClWeight) totalClWeight
        from MP_StockIn si left join MP_MaterialInfor mt on si.MatCode = mt.MatCode and si.compid = mt.compid
        left join MP_Supplier sl on si.SupCode = sl.SupCode and si.compid = sl.compid
        left join MP_Stock mk on mk.StkCode = si.StkCode and mk.compid = si.compid
        where si.compid = #{compid} and si.RecStatus=1
        <if test="empName != null">
            and mt.empName like '%'+#{empName}+'%'
        </if>
        <if test="vehicleId != null">
            and si.vehicleId like '%'+#{vehicleId}+'%'
        </if>
        <if test="supName != null">
            and sl.Sup_Name like '%'+#{supName}+'%'
        </if>
        <if test="stoName != null">
            and mk.Sto_Name like '%'+#{stoName}+'%'
        </if>
        <if test="beginTime != null and endTime != null">
            and si.SecondTime between #{beginTime} and #{endTime}
        </if>
    </select>


    <!--原材料过磅统计。材料名称-->
    <select id="getWeightByMatParent" resultType="com.hntxrj.txerp.vo.WeightMatParentNameVO">
        SELECT SUM(ClWeight) AS tlWeight, dp.PI_TypeName as matName
        FROM V_MP_StockInQuery sl
        left join DD_PublicInfo dp on sl.MatParent = dp.PI_Values and sl.compid = dp.compid and PI_Class = 64
        where dp.compid=#{compid}
        <if test="beginTime != null and endTime != null">
            and SecondTime between #{beginTime} and #{endTime}
        </if>
        GROUP BY dp.PI_TypeName
    </select>


    <!--材料统计中按照公司名称分类的饼状图-->
    <select id="getPieChartBySupName" resultType="com.hntxrj.txerp.vo.WeightChartVO">
        select sum(si.ClWeight) AS tlWeight, sl.Sup_Name as supName
        from MP_StockIn si
        left join MP_Supplier sl on si.SupCode = sl.SupCode and si.compid = sl.compid
        left join MP_Stock mk on mk.StkCode = si.StkCode and mk.compid = si.compid
        left join (select MatName + '(' +MatSpecs+ ')' AS matName,compid,MatCode,empName from MP_MaterialInfor )
        mt on si.compid =mt.compid and si.MatCode =mt.MatCode
        where si.compid = #{compid} and si.RecStatus=1
        <if test="empName != null">
            and mt.empName like '%'+#{empName}+'%'
        </if>
        <if test="vehicleId != null">
            and vehicleId like '%'+#{vehicleId}+'%'
        </if>
        <if test="supName != null">
            and Sup_Name like '%'+#{supName}+'%'
        </if>
        <if test="stoName != null">
            and Sto_Name like '%'+#{stoName}+'%'
        </if>

        <if test="beginTime != null and endTime != null">
            and si.SecondTime between #{beginTime} and #{endTime}
        </if>
        group by sl.Sup_Name
        ORDER BY tlWeight desc
    </select>


    <!--材料统计中按照入库库位分类的柱状图-->
    <select id="getHistogramByStoName" resultType="com.hntxrj.txerp.vo.WeightChartVO">
        select sum(si.ClWeight) AS tlWeight, mk.Sto_Name as stoName
        from MP_StockIn si
        left join MP_Stock mk on mk.StkCode = si.StkCode and mk.compid = si.compid
        left join MP_Supplier sl on si.SupCode = sl.SupCode and si.compid = sl.compid
        where si.compid = #{compid} and si.RecStatus=1
        <if test="empName != null">
            and sl.empName like '%'+#{empName}+'%'
        </if>
        <if test="vehicleId != null">
            and vehicleId like '%'+#{vehicleId}+'%'
        </if>
        <if test="supName != null">
            and Sup_Name like '%'+#{supName}+'%'
        </if>
        <if test="stoName != null">
            and Sto_Name like '%'+#{stoName}+'%'
        </if>
        <if test="beginTime != null and endTime != null">
            and si.SecondTime between #{beginTime} and #{endTime}
        </if>
        group by mk.Sto_Name
        ORDER BY tlWeight desc
    </select>


    <!--材料统计中按照材料类型分类的柱状图-->
    <select id="getHistogramByMat" resultType="com.hntxrj.txerp.vo.WeightChartVO">
        select sum(si.ClWeight) AS tlWeight, mp.MatName as matName
        from MP_StockIn si
        left join MP_Supplier sl on si.SupCode = sl.SupCode and si.compid = sl.compid
        left join MP_Stock mk on mk.StkCode = si.StkCode and mk.compid = si.compid
        left join (select MatName + '(' + MatSpecs + ')' AS matName, compid, MatCode, empName, MatParent
        from MP_MaterialInfor) mp on si.compid = mp.compid and si.MatCode = mp.MatCode
        left join DD_PublicInfo dd on dd.compid = si.compid and dd.PI_Class = 64 and mp.MatParent=dd.PI_Values
        where si.compid = #{compid}
        and si.RecStatus = 1
        <if test="empName != null">
            and mp.empName like '%'+#{empName}+'%'
        </if>
        <if test="vehicleId != null">
            and vehicleId like '%'+#{vehicleId}+'%'
        </if>
        <if test="supName != null">
            and Sup_Name like '%'+#{supName}+'%'
        </if>
        <if test="stoName != null">
            and Sto_Name like '%'+#{stoName}+'%'
        </if>
        <if test="beginTime != null and endTime != null">
            and si.SecondTime between #{beginTime} and #{endTime}
        </if>
        <if test="matType != null">
            <if test="matType == 1">
            and dd.PI_Values='S' or dd.PI_Values='G'
            </if>
            <if test="matType == 2">
                and dd.PI_Values='C' or dd.PI_Values='P' or dd.PI_Values='F' or dd.PI_Values='CY'
            </if>
            <if test="matType == 3">
                and dd.PI_Values='AE'
            </if>

        </if>
        group by mp.MatName
        order by mp.MatName
    </select>

</mapper>