<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hntxrj.txerp.mapper.TaskSaleInvoiceMapper">
<!--    type搜索时间类型：0表示派车时间；1表示出厂时间-->
    <select id="getTaskSaleInvoiceList" resultType="com.hntxrj.txerp.vo.TaskSaleInvoiceListVO">
        select tsi.ID,
        vv.VehicleStatus,
        tsi.VehicleID,
        (tsi.SaleNum - tsi.ReturnNum - tsi.RemnantNum -tsi.ScrapNum) SaleNum,
        tsi.NumberOfSignings numberOfSignings,
        tsi.PersonalCode,
        vm.PersonalName,
        tsi.VehiceNumber,
        tp.TaskId,
        tsi.ThreeProduceNum,
        tsi.TaWeight,
        tsi.GrWeight,
        tsi.NetWeight,
        e.EPPName,
        b.BuilderName,
        tp.StgId,
        tsi.Arrive_STTime arriveSttime,
        tp.Slump,
        tp.Placing,
        tp.Attribute,
        ps.PI_TypeName placeStyleName,
        upStatus,
        vs.PI_TypeName VehicleStatusName,
        it.PI_TypeName invoiceTypeName,
        tsi.Leave_STTime  leaveTime
        from PT_TaskSaleInvoice tsi
        left join PT_TaskPlan tp on tsi.compid = tp.compid and tsi.TaskId = tp.TaskId
        left join DD_PublicInfo ps on ps.PI_Class = 24 and ps.PI_Values = tp.PlaceStyle
        and tsi.compid = ps.compid
        left join SM_EPPInfo e on tp.EPPCode = e.EPPCode and e.compid = tsi.compid
        left join SM_BuilderInfo b on tp.BuilderCode = b.BuilderCode and b.compid = tsi.compid
        left join DD_PublicInfo vs on vs.PI_Class = 22 and tsi.VehicleStatus=vs.PI_Values
        and tsi.compid =vs.compid
        left join DD_PublicInfo it on it.PI_Class = 51 and tsi.InvoiceType=it.PI_Values
        and tsi.compid = it.compid
        left join VM_PersonalInfo vm on tsi.PersonalCode =vm.PersonalCode and tsi.compid =vm.compid
        left join VM_VehicelManagement vv on tsi.compid =vv.compid and tsi.VehicleID =vv.CarID
        where tsi.compid=#{compid}
        and tsi.RecStatus=1
        and tsi.InvoiceType!=6
        <if test="invoiceId != null ">
            and tsi.ID like '%'+#{invoiceId}+'%'
        </if>

        <if test="type == 0">
            <if test="beginTime != null and beginTime != '' ">
                and tsi.SendTime  <![CDATA[ >= ]]>  #{beginTime}
            </if>
            <if test="endTime != null and endTime != '' ">
                and tsi.SendTime <![CDATA[ <= ]]> #{endTime}
            </if>
        </if>
        <if test="type == 1">
            <if test="beginTime != null and beginTime != '' ">
                and tsi.Leave_STTime  <![CDATA[ >= ]]>  #{beginTime}
            </if>
            <if test="endTime != null and endTime != '' ">
                and tsi.Leave_STTime <![CDATA[ <= ]]> #{endTime}
            </if>
        </if>
        <if test="eppCode != null and eppCode != ''">
            and tp.EPPCode = #{eppCode}
        </if>
        <if test="upStatus != null">
            <if test="upStatus==0">and (tsi.upStatus=0 or tsi.upStatus is null)</if>
            <if test="upStatus==1">and tsi.upStatus = #{upStatus}</if>
        </if>
        <if test="builderCode != null and builderCode != '' ">
            and tp.builderCode = #{builderCode}
        </if>
        <if test="taskStatus != null and taskStatus != '' ">
            and tp.taskStatus = #{taskStatus}
        </if>
        <if test="taskId != null and taskId != '' ">
            and tp.taskId like '%'+#{taskId}+'%'
        </if>
        <if test="placing != null and placing != '' ">
            and tp.placing like '%'+#{placing}+'%'
        </if>
    </select>

    <select id="getTaskSaleInvoiceDetailVO" resultType="com.hntxrj.txerp.vo.TaskSaleInvoiceDetailVO">
        select tsi.ID,
            tsi.TaskId,
            ps4.PI_TypeName                        InvoiceTypeName,
            tsi.VehicleID,
            (tsi.SaleNum - tsi.ReturnNum - tsi.RemnantNum -tsi.ScrapNum) SaleNum,
            tsi.NumberOfSignings  numberOfSignings,
            e.EPPName,
            e.EppCode,
            b.BuilderName,
            Placing,
            shortname,
            tsi.PersonalCode,
            vm.PersonalName,
            tsi.Distance,
            us.empname,
            SendTime,
            tsi.StirId,
            ps.PI_TypeName                         placeTypeName,
            VehicleID_Jump                         jumpVehicleID,
            (tsi.SaleNum - ReturnNum - RemnantNum -tsi.ScrapNum) SaleNum,
            ThreeProduceNum,
            tp.StgId,
            StoneDia,
            Slump,
            ps3.PI_TypeName                        StoneAsk,
            ps2.PI_TypeName                        CementVName,
            Leave_STTime                           leaveTime,
            Arrive_STTime                          arriveTime,
            tsi.TaWeight,
            tsi.GrWeight,
            tsi.NetWeight,
            tsi.VehiceNumber,
            tp.TaskId,
            tsi.Distance,
            upStatus,
            ProduceNum,
            SaleFileImage
        from PT_TaskSaleInvoice tsi
         left join PT_TaskPlan tp on tsi.compid = tp.compid and tsi.TaskId = tp.TaskId
         left join DD_PublicInfo ps on ps.PI_Class = 24 and ps.PI_Values = tp.PlaceStyle
            and tsi.compid = ps.compid
         left join SM_EPPInfo e on tp.EPPCode = e.EPPCode and e.compid = tsi.compid
         left join SM_BuilderInfo b on tp.BuilderCode = b.BuilderCode and b.compid = tsi.compid
         left join User_employee us on tsi.compid = us.compid and tsi.OpId = us.OpId
         left join VM_PersonalInfo vm on tsi.PersonalCode = vm.PersonalCode and tsi.compid = vm.compid
         left join DD_PublicInfo ps2 on tp.CementVariety = ps2.PI_Values and ps2.PI_Class = '32'
            and tsi.compid = ps2.compid
         left join DD_PublicInfo ps3 on tp.StoneAsk = ps3.PI_Values and ps3.PI_Class = '31'
            and tsi.compid = ps3.compid
         left join DD_PublicInfo ps4
                   on tsi.compid = ps4.compid and tsi.InvoiceType = ps4.PI_Values and ps4.PI_Class = '51'
        where tsi.compid = #{compid}
          and tsi.id = #{id}
    </select>

    <!--小票签收审核-->
    <update id="getTaskSaleInvoiceExamine">
        UPDATE PT_TaskSaleInvoice
        set NumberOfSignings       = #{numberOfSignings},
            upStatus      = 1,
            ReceiptMan    = #{opid},
            saleFileImage =#{saleFileImage},
            signingTime   = #{signingTime}
        where compid = #{compid}
          and id = #{id}
    </update>

    <!--    type搜索时间类型：0表示派车时间；1表示出厂时间-->
    <select id="getTaskSaleInvoiceCount" resultType="com.hntxrj.txerp.vo.TaskSaleInvoiceCountVO">
        select sum(tsi.SaleNum - tsi.ReturnNum - tsi.RemnantNum -tsi.ScrapNum) saleNum,
        sum(NumberOfSignings) signNum
        from PT_TaskSaleInvoice tsi
        left join PT_TaskPlan tp on tsi.compid = tp.compid and tsi.TaskId = tp.TaskId
        where tsi.compid=#{compid}
        and tsi.RecStatus=1
        and tsi.InvoiceType!=6
        <if test="id != null ">
            and tsi.ID like '%'+#{id}+'%'
        </if>

        <if test="type == 0">
            <if test="beginTime != null and beginTime != '' ">
                and tsi.SendTime  <![CDATA[ >= ]]>  #{beginTime}
            </if>
            <if test="endTime != null and endTime != '' ">
                and tsi.SendTime <![CDATA[ <= ]]> #{endTime}
            </if>
        </if>
        <if test="type == 1">
            <if test="beginTime != null and beginTime != '' ">
                and tsi.Leave_STTime  <![CDATA[ >= ]]>  #{beginTime}
            </if>
            <if test="endTime != null and endTime != '' ">
                and tsi.Leave_STTime <![CDATA[ <= ]]> #{endTime}
            </if>
        </if>


        <if test="eppCode != null and eppCode != ''">
            and tp.EPPCode = #{eppCode}
        </if>
        <if test="upStatus != null">
            <if test="upStatus==0">and (tsi.upStatus=0 or tsi.upStatus is null)</if>
            <if test="upStatus==1">and tsi.upStatus = #{upStatus}</if>
        </if>
        <if test="builderCode != null and builderCode != '' ">
            and tp.builderCode = #{builderCode}
        </if>
        <if test="taskStatus != null and taskStatus != '' ">
            and tp.taskStatus = #{taskStatus}
        </if>
        <if test="taskId != null and taskId != '' ">
            and tp.taskId like '%'+#{taskId}+'%'
        </if>
        <if test="placing != null and placing != '' ">
            and tp.placing like '%'+#{placing}+'%'
        </if>
    </select>


</mapper>
