<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hntxrj.mapper.ConcreteMapper">

    <!--砼产量统计-->
    <select id="getConcreteCount" resultType="com.hntxrj.vo.ConcreteVO">
        <if test="timeStatus ==1">
            select
            convert(varchar(10),tsi.sendtime,120) as sendTime,
            tsi.taskId,
            sb.builderName,
            sm.eppName,
            pt.placing,
            count(pt.TotalVehicleNum )carNum,
            pt.stgId,
            sum(tsi.produceNum) produceNum,
            sum(tsi.SaleNum - tsi.ReturnNum - tsi.SeparateNum - tsi.ScrapNum) saleNum
            from PT_TaskSaleInvoice tsi
            left join PT_TaskPlan pt on tsi.compid =pt.compid and tsi.TaskId =pt.TaskId
            left join SM_EPPInfo sm on pt.compid =sm.compid and pt.EPPCode =sm.EPPCode
            left join SM_BuilderInfo sb on pt.compid =sb.compid and pt.BuilderCode =sb.BuilderCode
            where tsi.compid = #{compid}
            and (VehiceNumber > '0')
            and (VehicleStatus = '3')
            and tsi.InvoiceType != 6
            <if test="eppCode != null and eppCode != ''">
                and pt.eppCode=#{eppCode}
            </if>
            <if test="placing != null and placing != ''">
                and pt.placing like '%'+#{placing}+'%'
            </if>
            <if test="taskId != null and taskId != ''">
                and tsi.taskId like '%'+#{taskId}+'%'
            </if>
            <if test="stgId != null and stgId != ''">
                and pt.stgid like '%'+#{stgId}+'%'
            </if>
            <if test="beginTime != null and beginTime != ''">
                and tsi.sendTime <![CDATA[ >= ]]>  #{beginTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and tsi.sendTime <![CDATA[ <= ]]> #{endTime}
            </if>
            Group By convert(varchar(10),tsi.sendTime,120),tsi.taskId, eppname, pt.buildercode, buildername, placing,
            stgid
            ORDER BY convert(varchar(10),tsi.sendTime,120),tsi.taskId
        </if>
        <if test="timeStatus ==0">
            select
            convert(varchar(10),tsi.Leave_STTime,120) as sendTime,
            tsi.taskId,
            sb.builderName,
            sm.eppName,
            pt.placing,
            count(pt.TotalVehicleNum )carNum,
            pt.stgId,
            sum(tsi.produceNum) produceNum,
            sum(tsi.SaleNum - tsi.ReturnNum - tsi.SeparateNum - tsi.ScrapNum) saleNum
            from PT_TaskSaleInvoice tsi
            left join PT_TaskPlan pt on tsi.compid =pt.compid and tsi.TaskId =pt.TaskId
            left join SM_EPPInfo sm on pt.compid =sm.compid and pt.EPPCode =sm.EPPCode
            left join SM_BuilderInfo sb on pt.compid =sb.compid and pt.BuilderCode =sb.BuilderCode
            where tsi.compid = #{compid}
            and (VehiceNumber > '0')
            and (VehicleStatus = '3')
            and tsi.InvoiceType != 6
            <if test="eppCode != null and eppCode != ''">
                and pt.eppCode=#{eppCode}
            </if>
            <if test="placing != null and placing != ''">
                and pt.placing like '%'+#{placing}+'%'
            </if>
            <if test="taskId != null and taskId != ''">
                and tsi.taskId like '%'+#{taskId}+'%'
            </if>
            <if test="stgId != null and stgId != ''">
                and pt.stgid like '%'+#{stgId}+'%'
            </if>
            <if test="beginTime != null and beginTime != ''">
                and tsi.Leave_STTime <![CDATA[ >= ]]>  #{beginTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and tsi.Leave_STTime <![CDATA[ <= ]]> #{endTime}
            </if>
            Group By convert(varchar(10),tsi.Leave_STTime,120),tsi.taskId, eppname, pt.buildercode, buildername,
            placing, stgid
            ORDER BY convert(varchar(10),tsi.Leave_STTime,120),tsi.taskId
        </if>
    </select>

    <!--砼产量统计合计-->
    <select id="getConcreteSum" resultType="com.hntxrj.vo.ConcreteVO">
        select
        sum(tsi.SaleNum - tsi.ReturnNum - tsi.SeparateNum - tsi.ScrapNum) saleNumList
        from PT_TaskSaleInvoice tsi
        left join PT_TaskPlan pt on tsi.compid =pt.compid and tsi.TaskId =pt.TaskId
        left join SM_EPPInfo sm on pt.compid =sm.compid and pt.EPPCode =sm.EPPCode
        left join SM_BuilderInfo sb on pt.compid =sb.compid and pt.BuilderCode =sb.BuilderCode
        where tsi.compid = #{compid}
        and (VehiceNumber > '0')
        and (VehicleStatus = '3')
        and tsi.InvoiceType != 6
        <if test="eppCode != null and eppCode != ''">
            and pt.eppCode=#{eppCode}
        </if>
        <if test="placing != null and placing != ''">
            and pt.placing like '%'+#{placing}+'%'
        </if>
        <if test="taskId != null and taskId != ''">
            and pt.taskId like '%'+#{taskId}+'%'
        </if>
        <if test="stgId != null and stgId != ''">
            and pt.stgid like '%'+#{stgId}+'%'
        </if>
        <if test="timeStatus ==1">
            <if test="beginTime != null and beginTime != ''">
                and tsi.SendTime <![CDATA[ >= ]]>  #{beginTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and tsi.SendTime <![CDATA[ <= ]]> #{endTime}
            </if>
        </if>
        <if test="timeStatus ==0">
            <if test="beginTime != null and beginTime != ''">
                and tsi.Leave_STTime <![CDATA[ >= ]]>  #{beginTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and tsi.Leave_STTime <![CDATA[ <= ]]> #{endTime}
            </if>
        </if>
    </select>


    <select id="getProductConcreteSum" resultType="java.math.BigDecimal">
        select sum(PanNum) from PT_ProduceConsume where RecStatus=1
        and compid=#{compid}
        <if test="beginTime != null and beginTime != ''">
            and ProduceTime <![CDATA[ >= ]]>  #{beginTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and ProduceTime <![CDATA[ <= ]]> #{endTime}
        </if>
    </select>


    <select id="getProductConcreteByTaskId" resultType="java.math.BigDecimal">
        select sum(PanNum) from PT_ProduceConsume where RecStatus=1
        and compid=#{compid} and taskId = #{taskId}
    </select>
</mapper>