<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hntxrj.mapper.EppMapper">
    <select id="getDropDown" resultType="com.hntxrj.vo.EppDropDownVO">
        select EPPName, EPPCode from SM_EPPInfo where compid=#{compid} and RecStatus=1
        <if test="eppName != null and eppName != ''">
            and eppName like '%'+#{eppName}+'%'
        </if>
    </select>

    <select id="getEppInfo" resultType="com.hntxrj.entity.EppInfo">
        select * from SM_EPPInfo where EPPCode=#{eppCode} and compid=#{compid}
    </select>
</mapper>