<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hntxrj.txerp.mapper.MenuMapper">


    <select id="getFunctionMenuList" resultType="com.hntxrj.txerp.entity.base.Menu">
        select  * from menu where  project =2 and menu_status=0 and menu_fmid in (60,62,63,417)
    </select>
</mapper>
