<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hntxrj.txerp.mapper.UserMapper">


    <resultMap id="UserAuthResultMap" type="com.hntxrj.txerp.entity.base.UserAuth">
        <id column="uaid" property="uaid" jdbcType="INTEGER"/>
        <result column="create_user" property="createUser" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="INTEGER"/>
        <result column="eadmin" property="eadmin" jdbcType="CHAR"/>
        <association property="authGroup" javaType="com.hntxrj.txerp.entity.base.AuthGroup">
            <id column="agid" property="agid" jdbcType="INTEGER"/>
            <result column="ag_name" property="agName" jdbcType="VARCHAR"/>
            <result column="ag_status" property="agStatus" jdbcType="INTEGER"/>
            <result column="enterprise" property="enterprise" jdbcType="INTEGER"/>
            <result column="project" property="project" jdbcType="INTEGER"/>
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
            <result column="update_user" property="updateUser" jdbcType="INTEGER"/>
            <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        </association>
        <association property="user" column="uid" javaType="com.hntxrj.txerp.entity.base.User">
            <id column="uid" property="uid" jdbcType="INTEGER"/>
            <result column="username" property="username" jdbcType="VARCHAR"/>
            <result column="password" property="password" jdbcType="VARCHAR"/>
            <result column="phone" property="phone" jdbcType="VARCHAR"/>
            <result column="email" property="email" jdbcType="VARCHAR"/>
            <result column="erp_type" property="erpType" jdbcType="INTEGER"/>
            <result column="bind_sale_man_name" property="bindSaleManName" jdbcType="VARCHAR"/>
            <result column="header" property="header" jdbcType="VARCHAR"/>
            <result column="status" property="status" jdbcType="INTEGER"/>
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
            <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
            <result column="user_favorite_config" property="userFavoriteConfig" jdbcType="VARCHAR"/>
        </association>
        <association property="enterprise" column="eid" javaType="com.hntxrj.txerp.entity.base.Enterprise">
            <id column="eid" property="eid" jdbcType="INTEGER"/>
            <result column="ep_name" property="epName" jdbcType="VARCHAR"/>
            <result column="ep_short_name" property="epShortName" jdbcType="VARCHAR"/>
            <result column="ep_link" property="epLink" jdbcType="VARCHAR"/>
            <result column="ep_remark" property="epRemark" jdbcType="VARCHAR"/>
            <result column="ep_type" property="epType" jdbcType="INTEGER"/>
            <result column="ep_status" property="epStatus" jdbcType="INTEGER"/>
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
            <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
            <result column="delete" property="delete" jdbcType="INTEGER"/>
            <result column="collection_code" property="collectionCode" jdbcType="VARCHAR"/>
        </association>
    </resultMap>


    <select id="details" resultType="com.hntxrj.txerp.entity.base.User">
        select u.uid,
               u.username,
               u.password,
               u.phone,
               u.email,
               u.header,
               u.auth_group,
               u.status,
               u.create_time,
               u.update_time,
               a.ac_type
        from user u
                 left join user_account a on u.uid = a.uid
        where u.uid = #{userId}
    </select>
    <select id="findById" resultType="com.hntxrj.txerp.vo.AuthGroupVO">
        select e.eid,
               e.ep_short_name,
               a.ag_name
        from enterprise e
                 left join user_auth u on e.eid = u.eid
                 LEFT JOIN auth_group a on a.agid = u.auth_group
        where u.uid = #{userId}

    </select>
    <select id="type" resultType="com.hntxrj.txerp.entity.base.UserAccount">
        select acid,
               uid,
               ac_type
        from user_account
        where uid = #{userId}
          AND ac_type = 'wechat'
    </select>
    <select id="selectUserList" resultMap="UserAuthResultMap">
        <bind name="_userName" value="'%' + userName + '%'"/>
        <bind name="_phone" value="'%' + phone + '%'"/>
        <bind name="_email" value="'%' + email + '%'"/>
        select * from user_auth ua
        left join user u on ua.uid=u.uid
        left join enterprise e on ua.eid=e.eid
        left join auth_group ag on ua.auth_group=ag.agid
        where 1=1
        <if test="enterpriseId != null and enterpriseId!=''">
            and ua.eid = #{enterpriseId}
        </if>
        <if test="userName != null">
            and u.username like #{_userName}
        </if>
        <if test="phone != null">
            and u.phone like #{_phone}
        </if>
        <if test="email != null">
            and u.email like #{_email}
        </if>
    </select>

    <select id="getUserList" resultType="com.hntxrj.txerp.vo.UserListVO">
        <bind name="_userName" value="'%' + userName + '%'"/>
        <bind name="_phone" value="'%' + phone + '%'"/>
        <bind name="_email" value="'%' + email + '%'"/>
        select
        ua.uid uid,
        ud.driver_code driverCode
        from user_auth ua
        left join user u on ua.uid=u.uid
        left join enterprise e on ua.eid=e.eid
        left join auth_group ag on ua.auth_group=ag.agid
        left join user_bind_driver ud on ua.uid=ud.uid
        where 1=1
        <if test="enterpriseId != null and enterpriseId!=''">
            and ua.eid = #{enterpriseId}
        </if>
        <if test="userName != null">
            and u.username like #{_userName}
        </if>
        <if test="phone != null">
            and u.phone like #{_phone}
        </if>
        <if test="email != null">
            and u.email like #{_email}
        </if>
    </select>

    <update id="addUserStatus" parameterType="int">
        update user_auth set  eadmin=1 where uid=#{userId}
    </update>

    <update id="deleteUserStatus" parameterType="int">
        update user_auth set  eadmin=0 where uid=#{userId}
    </update>

    <select id="getOpenAuth" resultType="string">
       select fun_name from auth_value_new where group_id=#{groupId} and value=1
    </select>

    <select id="getAuthValue" resultType="com.hntxrj.txerp.vo.AuthValueVO">
      select  ag.agid AS agid,
      ag.ag_name as agName,
      ag.enterprise as  enterprise,
      me.menu_name AS menuName,
      me.mid as mid,
      me.func_name as funcName,
      me.menu_fmid as menuFmid,
      me.menu_status as menuStatus,
      av.`value`  as  value
      from auth_value_new  av
        INNER JOIN  auth_group  ag on av.group_id=ag.agid
        INNER JOIN menu me  on av.fun_name=me.func_name
        where av.group_id=#{groupId} and av.value=1
    </select>


    <select id="getAuthGroupByUserAndCompid" resultType="integer">
        select auth_group from user_auth where  uid=#{uid}  and  eid=#{enterprise}
    </select>


    <select id="judgementAuth" resultType="integer">
        select count(*) from auth_value_new where group_id=#{authGroupID} and fun_name=#{methodName} and value=1
    </select>

    <select id="getMenuIdByFunName" resultType="integer">
       select mid from  menu where func_name=#{funName}
    </select>


    <select id="getAuthValueByGroupId" resultType="com.hntxrj.txerp.entity.base.AuthValue">
       select av.fun_name  funName,
        av.group_id  groupId  ,
        av.menu_id menuId,
        av.value,
        av.create_time  createTime,
        av.update_time updateTime,
        av.update_user updateUser
        from auth_value_new av
        left join menu me on  av.fun_name=me.func_name
        where av.group_id=#{groupId} and me.project=#{pid} and value=1
    </select>

    <select id="getAuthValueOld" resultType="com.hntxrj.txerp.entity.base.AuthValueOld">
       select av.group_id  groupId  ,
        av.menu_id menuId,
        av.value,
        av.create_time  createTime,
        av.update_time updateTime,
        av.update_user updateUser
        from auth_value av
        where av.group_id=#{groupId}  and av.value=1
    </select>
    <select id="selectAllUser" resultType="com.hntxrj.txerp.entity.base.User">
        select u.* from user_auth ua
        LEFT JOIN user u on ua.uid =u.uid
        where u.uid is not null
        <if test="eid != null ">
        and ua.eid =#{eid}
        </if>
        <if test="userName != null and userName!='' ">
            and u.username like '%${userName}%'
        </if>
    </select>


</mapper>